
html{
  font-family:sans-serif;
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-transform: uppercase;
  min-height:100%
}

body{
  margin:0;
  background:#FFFBFB;
  font-family:Shannon W05;
  color:#000;
  min-height:100%;
  text-transform: uppercase;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
  text-transform: uppercase;
}

th{
  color:#002a86;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-transform: uppercase;
}

th, td {
  padding: 15px;
  text-transform: uppercase;
}

h1, h2{
  text-align: center;
  text-transform: uppercase;
}

h2{
  color: #002a86;
}

h3{
  color: #4CAF50;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002a86;
}

label{
  color: #002a86;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #002a50;
  color:white;
}

div {
  border: 1px solid gray;
  padding: 8px;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4CAF50;
}

a {
  text-decoration: none;
  color: #008CBA;
  text-transform: uppercase;
}